<section id="container_grafico">
    <div class="container_candidato_foto">
        <div class="avatar avatar_ciro_gomes">
            <div class="busca_nome_centralizado"> </div>
        </div>
        <div class="busca_valor">
            <div class="insert_busca_width" style="width: 100%;">{{ ciro }}%</div>
        </div>

        <div class="avatar avatar_bolsonaro">
            <div class="busca_nome_centralizado"> </div>
        </div>

        <div class="avatar avatar_joao_doria">
            <div class="busca_nome_centralizado"> </div>
        </div>

        <div class="avatar avatar_lula">
            <div class="busca_nome_centralizado"> </div>
        </div>

        <div class="avatar avatar_mandeta">
            <div class="busca_nome_centralizado"> </div>
        </div>

        <div class="avatar voto_branco">
            <div class="busca_nome_centralizado">Braco Nulo Nenhum</div>
        </div>

        <div class="avatar voto_nao_sabe">
            <div class="busca_nome_centralizado">Não sabe</div>
        </div>
    </div>

    <div class="container_candidato_parcial">
        <div class="busca_valor">
            <div class="insert_busca_width" style="width: {{ bolsonaro }}%;">{{ bolsonaro }}%</div>
        </div>

        <div class="busca_valor">
            <div class="insert_busca_width" style="width: 100%;">{{ ciro }}%</div>
        </div>

        <div class="busca_valor">
            <div class="insert_busca_width" style="width: {{ doria }}%;">{{ doria }}%</div>
        </div>

        <div class="busca_valor">
            <div class="insert_busca_width" style="width: {{ lula }}%;">{{ lula }}%</div>
        </div>

        <div class="busca_valor">
            <div class="insert_busca_width" style="width: {{ mandeta }}%;">{{ mandeta }}%</div>
        </div>

        <div class="busca_valor">
            <div class="insert_busca_width" style="width: {{ branco }}%;">{{ branco }}%</div>
        </div>

        <div class="busca_valor">
            <div class="insert_busca_width" style="width: {{ nao_sabe }}%;">{{ nao_sabe }}%</div>
        </div>
    </div>
</section>
</div>